@import url('https://fonts.googleapis.com/css2?family=Scada:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.starsContainer {
    display: flex;
  }
  
  .star {
    cursor: pointer;
    transition: all 0.1s linear;
  }
  
  .star:hover {
    transform: scale(1.1);
  }

  .scroll::-webkit-scrollbar{
    width: 8px;
  }
  .scroll::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 8px;
   margin-top: 3px;
   margin-bottom: 3px;
  }
  .scroll::-webkit-scrollbar-thumb{ 
    background: #888; /* Thumb color */
    border-radius: 5px; /* Border radius of the thumb */ 
  }